@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<WebApplication1.Models.midicen>;
<html>
<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" />
</head>
<body>
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (WebApplication1.Models.midicen item in Model){
                <tr>
                    <td>@item.SupplierId    </td>
                    <td>@item.Name </td>
                    <td>@item.Contact</td>
                    <td>
                        <a asp-controller="Midicen" asp-action="Update" asp-route-SupId="@item.SupplierId">edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>