@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["ShowHeader"] = true;
}

@model WebApplication1.Models.MedicineModel;
<html>
<head>
    <style>
        .row {
            padding: 10px;
        }
    </style>
</head>
<body>
    <form asp-action="UpdateMedicine">
        <input type="hidden" asp-for="MedicineId" />

        <div class="row">
            <div class="col-md-4">
                Medicine_Name
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>


            <div class="col-md-4">
                Price
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger" />

            </div>

            <div class="col-md-4">
                Quantity
                <span class="text-danger">*</span>
                <input type="text" class="form-control" asp-for="Quantity" />
                <span asp-validation-for="Quantity" class="text-danger" />

            </div>
            <div class="col-md-4">
                Expiery_Date
                <span class="text-danger">*</span>
                <input type="date" class="form-control" asp-for="ExpiryDate">
                <span asp-validation-for="ExpiryDate" class="text-danger" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <input type="submit" class="btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
</html>
